*.pyc
shawarma_site/local_settings.py
.DS_Store
.idea/*
.idea
.vscode
static
media
db.sqlite3
celerybeat-schedule
pg_data/
db_dumps/
static/
logs/
log/*
db/
venv/
env/
.env/
/config/celery_local_settings.py
/log/
