{% extends 'customer_interface/index.html' %}

{% load static %}

{% block additional_CSS %}
    <link rel="stylesheet" href="{% static 'customer_interface/css/basket.css' %}">
    <link rel="stylesheet" href="{% static 'customer_interface/css/suggestion.css' %}">
{% endblock %}

{% block header %}
    <header style="text-align: center; display: block;">
        <a href="{% url 'counter' %}"><img src="{% static 'customer_interface/img/head_logo.png' %}" alt="#"
                                           class="head_logo"></a>
    </header>
{% endblock %}

{% block cmt %}
    ⏳ Доставка скоро появится
    <br/>
    <label class="adds_submit-btn btn ok-btn" style="margin: 0 auto;" for="css-modal-checkbox">хорошо</label>
{% endblock %}

{% block content %}
    {% load l10n %}
    <main class="main_visible">

        <div class="cards" style="text-align: center" id="ways">
            <ul>
                {#                <li>#}
                {#                    <div class="adds_submit-btn btn" onclick="chooseWay('1')">Доставка</div>#}
                {#                </li>#}
                <li>
                    <label for="css-modal-checkbox" class="css-modal-checkbox adds_submit-btn btn">Доставка</label>
                </li>
                <li>
                    <label class="css-modal-checkbox adds_submit-btn btn" onclick="chooseWay('0')">Самовывоз</label>
                </li>
            </ul>
        </div>

        <div class="cards" style="text-align: center; display: none" id="points">
            <ul class="cards_list">
                {% for point in points %}
                    <li
                            {% if point.picture %}
                                style="background: url('{{ point.picture.url }}'); background-size: cover;"
                            {% else %}
                                style="background: url('{% static '/customer_interface/img/food_default.png' %}'); background-size: cover;"
                            {% endif %}>
                        <a class="cards_item" href="#" onclick="choosePoint('{{ point.subnetwork }}')"><span class="cards_item-text">{{ point.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}


{% block additional_JS %}
    <script>
        let ways = $('#ways')
        let points = $('#points')
        function chooseWay(way) {
            setCookie('way', way);
            ways.hide();
            points.show();
        }

        function choosePoint(point) {
            setCookie('point', point);
            setTimeout(function () {location.replace({% url 'index' %});}, 1000);
        }
    </script>
{% endblock %}
