{% extends 'customer_interface/index.html' %}

{% load static %}

{% block additional_CSS %}
    <link rel="stylesheet" href="{% static 'customer_interface/css/basket.css' %}">
    <link rel="stylesheet" href="{% static 'customer_interface/css/suggestion.css' %}">
{% endblock %}

{% block header %}
    <header style="text-align: center; display: block;">
        <a href="{% url 'index' %}"><img src="{% static 'customer_interface/img/head_logo.png' %}" alt="#"
                                         class="head_logo"></a>
    </header>
{% endblock %}

{% block content %}
    {% load l10n %}
    <main class="main_visible">

        <div class="cards" style="text-align: center" id="ways">
            <ul>
                <li>
                    <div class="adds_submit-btn btn" onclick="chooseWay('1')">Доставка</div>
                </li>
                <li>
                    <div class="adds_submit-btn btn" onclick="chooseWay('2')">Самовывоз</div>
                </li>
            </ul>
        </div>

        <div class="cards" style="text-align: center; display: none" id="points">
            <ul class="cards_list">
                {% for point in points %}
                    <li
                            {% if point.picture %}
                                style="background: url('{{ point.picture.url }}'); background-size: cover;"
                            {% else %}
                                style="background: url('{% static '/customer_interface/img/food_default.png' %}'); background-size: cover;"
                            {% endif %}>
                        <a class="cards_item" href="{% url 'index' %}"><span class="cards_item-text">{{ point.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}


{% block additional_JS %}
    <script>
        let ways = $('#ways')
        let points = $('#points')
        function chooseWay(way) {
            ways.hide();
            points.show();
        }
    </script>
{% endblock %}
