{% extends 'customer_interface/index.html' %}
{% load static %}


{% block header %}
    <header style="text-align: center; display: block;">
        <a href="{% url 'counter' %}"><img src="{% static 'customer_interface/img/head_logo.png' %}" alt="#" class="head_logo"></a>
    </header>
{% endblock %}

{% block content %}
    <main>
        {% if orderNumber %}<h2>Заказ #{{ orderNumber }} на сумму {{ amount }}₽</h2>{% endif %}
        <br/>
        {% if success_in_queue %}
            <h3>Оплата вашего заказа прошла успешно</h3>
        {% else %}
            <h3>Что-то пошло не так при формировании заказа. Свяжитесь с нами, назвав номер заказа</h3>
        {% endif %}
    </main>
{% endblock %}

{% block additional_JS %}
    <script src="{% static 'customer_interface/js/basket_handlers.js' %}"></script>
    <script>
        $('.remove_btn').click();
    </script>
{% endblock %}